<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color = "light" name="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>NOSOTROS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>

    <ion-card>
      <ion-card-header>
        <ion-card-title>PARTICIPANTES</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/a1.jpg" />
            </ion-thumbnail>
            <ion-label>Creacion de BD</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/a2.jpg" />
            </ion-thumbnail>
            <ion-label>Coneccion a ionic</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/a3.jpg" />
            </ion-thumbnail>
            <ion-label>Crud de usuarios</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/a4.jpg" />
            </ion-thumbnail>
            <ion-label>Crud de libros</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/a5.png" />
            </ion-thumbnail>
            <ion-label>Diseño</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/3.png" />
    
      <ion-card-content>
        En un mundo donde la tecnología se entrelaza con la pasión por la lectura, un grupo de mentes brillantes se unió para crear una aplicación móvil revolucionaria: una biblioteca virtual al alcance de todos. Su misión era simple pero poderosa: llevar la magia de los libros a las palmas de las manos de millones de personas en todo el mundo.
      </ion-card-content>
    </ion-card>

  </ion-header>
</ion-content>
