<ion-header>
  <ion-toolbar>
    <ion-title>
      Edición de Datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Confirmar Contraseña</ion-label>
    <ion-input [(ngModel)]="confirmarPassword" type="password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="editarDatos()">Guardar Cambios</ion-button>
  <ion-button color="danger" expand="full" (click)="eliminarCuenta()">Eliminar Cuenta</ion-button>

</ion-content>

