<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color = "light" name="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>BookHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-card>
      <img alt="libros" src="assets/img/1.jpg" />
      <ion-card-header>
        <ion-card-title>¿BookHub?</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        "¡Descubre el poder del conocimiento con BookHub! La biblioteca en tu bolsillo.

¿Te apasiona la lectura? ¿Quieres tener acceso a una vasta colección de libros en cualquier momento y en cualquier lugar? ¡Entonces BookHub es la aplicación que estabas esperando!

Sumérgete en un mundo de posibilidades literarias con BookHub. Nuestra aplicación te brinda acceso instantáneo a una extensa biblioteca digital, donde podrás encontrar desde clásicos intemporales hasta los últimos bestsellers. ¡La lectura nunca había sido tan accesible!

Con BookHub, puedes llevar contigo una biblioteca completa en tu dispositivo móvil. No importa si estás en casa, en el trabajo o en movimiento, siempre tendrás una amplia selección de libros al alcance de tu mano. ¿Buscas inspiración? Explora nuestras recomendaciones personalizadas y descubre nuevos títulos que se ajusten a tus intereses.

Además, BookHub te permite marcar tus libros favoritos, realizar anotaciones, resaltar pasajes y sincronizar tu progreso de lectura en todos tus dispositivos. ¡Nunca perderás el hilo de tu historia!

Y eso no es todo, nuestra aplicación cuenta con funciones adicionales como reseñas de libros, sugerencias de lectura y la posibilidad de crear tu propia comunidad de lectores. Conéctate con personas afines a tus gustos literarios, comparte recomendaciones y descubre nuevas perspectivas.

¡No esperes más para sumergirte en el fascinante mundo de la lectura! Descarga BookHub hoy mismo y disfruta de la biblioteca más completa en tu bolsillo. Expandiendo horizontes, fomentando la imaginación y conectando lectores, BookHub es tu compañero perfecto en el viaje literario.
      </ion-card-content>
    </ion-card>
  </ion-header>
  <ion-header>
    <ion-card color="tertiary">
      <ion-card-header>
        <ion-card-title>¿Que hay?</ion-card-title>
      </ion-card-header>
    
      <ion-card-content> 
        "Explora un universo literario sin límites en nuestra aplicación móvil de biblioteca. Descubre una amplia variedad de libros de todos los géneros imaginables: desde emocionantes novelas de misterio y románticas historias de amor, hasta libros de ciencia ficción futurista y fascinantes relatos históricos. Sumérgete en mundos nuevos y déjate llevar por la magia de las palabras. Con nuestra aplicación, la biblioteca de tus sueños cabe en la palma de tu mano." </ion-card-content>
    </ion-card>
  </ion-header>
</ion-content>
